node_modules
*storybook.log
.wiz
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Nx
.nx/cache
.nx/workspace-data

# Playwright
test-results
playwright-report
playwright/.cache
blob-report
